/* Убираем спиннеры, которые мешают нормально центрировать текст */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
    text-align: center;
}

::-webkit-scrollbar-track {
    background-color: #404040;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}

::-webkit-scrollbar {
    width: 12px;
}



.columnHeader {
        display: flex;

        justify-content: center;
        /* vertical-align: middle; */

        text-transform: uppercase;

        height: 43px;
        line-height: 43px;
        font-weight: bold;
        /* костыль */
        border-bottom: 3px solid var(--primary);
        font-size: 25px;
}
.columnContent {
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 45px;
        height: 127px;
        border-bottom: 3px solid var(--primary);
        background-color: var(--dark);

        scrollbar-width: thin;
}

#chatLog {
    width: 240px;
    height: 265px;

    word-wrap: break-word;

    overflow-y: auto;
    overflow-x: hidden;

    border-width: 2px;
    border-style: inset;

    font-family: sans-serif;
    font-size: 15px;

    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

.close {
    width: 25px;
    height: 25px;
    z-index: 2;
}

#chat {
    position: absolute;
    width: max-content;
    bottom: .1rem;
    left: 1rem;
    z-index: 2;
    padding: 3px;

    border-radius: 10px;
}

#topMenu{
    overflow-y: auto;
    position: fixed;
    max-height: 100%;
}

@media screen and (max-width: 650px) {
    .content {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #topMenu{
        max-height: 30vh;

        scrollbar-width: none !important;
    }
    #topMenu::-webkit-scrollbar {
        display: none !important;
    }
    .column{
        width: 100% !important;
        border-right: none !important;
    }
    .columnContent{
        height: auto !important;
    }

    #uiBottom.chatOpened {
        display: none;
    }

    #chat {
        bottom: 0px;
        left: 0px;
        padding: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 23;

        border-radius: 0;

        display: none;
    }
    #chatLog {
        width: 100%;
        height: 100%;

        word-wrap: break-word;

        overflow-y: auto;
        overflow-x: hidden;

        border-width: 2px;
        border-style: inset;

        font-family: sans-serif;
        font-size: 15px;
    }
}
@media screen and (min-width: 651px) {
    .header {
        width: 100%;
        height: 30px;
        line-height: 30px;

        font-size: x-large;
        text-shadow: 2px 2px 0 #000;

        background-color: #4C4C4C;

        display: flex;
        justify-content: center;
    }
    .content {
        width: 100%;
        display: flex;
        position: relative;
    }
}


* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body,
html {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    touch-action: none;

    font-family: "Russo One", sans-serif
}

body {
    border: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    background: gray;
}

#ui {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;

    color: white;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: default;
    display: flex;
    flex-direction: column;
    
    z-index: 5;
}
#ui>div>*{
    pointer-events: all;
}

#uiTop{
    height: 100%;
    position: relative;
}

#uiBottom{
    width: 100%;
}

.bubble {
    padding: 5px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
}

#online {
    display: flex;

    position: absolute;

    left: 5px;
    top: 5px;

    z-index: 2;
}

#coords {
    position: absolute;

    right: 5px;
    bottom: 5px;

    z-index: 2;
}

.fd {
    font-size: 1vw;
    font-size: min(12px);
}

.hd {
    font-size: 2vw;
    font-size: min(21px);
}

#adapte {
    font-size: 1vw;
    font-size: min(12px);
}

#settings,
#info {
    display: none;
}

#board,
#fx,
#template {
    image-rendering: pixelated;

    position: absolute;
}

#board {
    z-index: 1;
}

#fx {
    pointer-events: none;
    z-index: 3;
}

#palette {
    width: 100%;
    bottom: 0;

    padding-top: 7px;
    padding-bottom: 7px;

    text-align: center;

    z-index: 4;
}

.paletteColor {
    width: 30px;
    height: 30px;

    margin-left: 5px;
    margin-right: 5px;

    border: 2px solid black;
    border-radius: 5px;

    display: inline-block;
}

.paletteColor.dark {
    border-color: white;
}

.paletteColor.light {
    border-color: black;
}

.paletteColor.selected {
    border-width: 3px;
    width: 35px;
    height: 35px;
}

.paletteColor.selectedSecond {
    border-color: crimson;
    border-width: 2px;
    width: 32px;
    height: 32px;
}

#tools {
    position: absolute;
    top: 40px;
    left: 5px;

    z-index: 2;
}

.toolContainer {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    padding: 3px;
    background-color: white;
    border-radius: 5px;

    image-rendering: pixelated;
}

.toolContainer.selected {
    box-shadow: 0 0 3px 0 black inset;
}

#topMenu,
a,
a:visited,
.window {
    color: var(--light-text);
}

#topMenu {
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #404040;
    z-index: 3;
    position: absolute;
}

#topMenu,
#chat {
    transition: all .3s cubic-bezier(1, -.45, .99, .75);
}

/*
    Костыль
*/
.column:nth-child(1),
.column:nth-child(2) {
    border-right: 3px solid #4C4C4C;
}


.columnHeader>.shadow {
    color: var(--bg-text);
    display: inline-flex;
}

/*
    Костыль, resizer должен быть гибким классом
*/
#resizer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3px;
    cursor: row-resize;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.columnTable {
    width: 100%;
    border-spacing: 0 3px;

    /* полу-костыль */
    font-weight: bold;
}

.columnTable td {
    padding: 3px;
    width: 50%;
}

/* TODO merge it? */
.columnTable td:first-child {
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.columnTable td:nth-child(2) {
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.columnTable td {
    padding: 3px;
    width: 50%;
}

.columnTable tr {
    padding: 3px;
    background-color: #404040;
    margin-top: 3px;
    height: 36px;
    word-break: break-word;
}

input,
button {
    color: gray;
    background-color: #333;
}

button,
input,
.window,
#chatLog {
    border-color: #4c4c4c;
}

.key {
    text-align: center;
}

button {
    border-color: #4c4c4c;
    background-color: #333;

    font-weight: bolder;
    padding: 1px 6px;
}

.columnTable input {
    width: 80%;
}

.columnTable tr,
input,
button {
    border-radius: 10px;
}

input[type=text] {
    padding-left: 3px;
}

button:active,
button:focus,
input:active,
input:focus,
input[type=range]:focus {
    outline: 0
}

input[type='range'] {
    cursor: pointer;
    background-color: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 8%;
    height: 8.4px;
    background: #333;
    line-height: 30px;
    border-radius: 50px;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    border: 2px solid #1d1d1d;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: inherit;
    margin-top: -7px;
    line-height: 30px;
}

input[type='range']::-webkit-slider-thumb::before {
    position: absolute;
    content: '';
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    background: #333;
    line-height: 36px;
    border-radius: 50px;
}

input[type=range] {
    height: 8.4px;
}

input[type=range]::-moz-range-thumb {
    position: relative;
    border: 2px solid #1d1d1d;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: inherit;
    margin-top: -7px;
    line-height: 36px;
}

#template {
    z-index: 2;
    pointer-events: none;
    transform-origin: top left;
}

.window {
    position: absolute;
    padding: 10px;
    background-color: #404040;
    border-width: 2px;
    border-style: outset;
    z-index: 6;
}

.windowBody {
    min-width: 500px;
    width: 100%;
    height: 100%;
    background-color: #333;

    border-width: 2px;
    border-style: inset;
    border-color: #4c4c4c;

    padding: 3px;
}

.windowHeader {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: -webkit-paged-x;

    margin-bottom: 5px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#emotions {
    width: 100%;
    height: 100%;
}

#chat,
#topMenu {
    transition: all .3s cubic-bezier(1, -.45, .99, .75);
}


#chatHeader {
    height: 50px;
}

#chatNick {
    text-align: center;
    word-break: break-word;
}

.chatMessage {
    margin-top: 2px;
    background-color: #333;
    padding: 5px;
}

#myMessage {
    display: flex;
    height: 30px;
    align-items: center;
}

#chatInput {
    width: 100%;
}

.chatMessage {
    margin-top: 2px;
    background-color: #333;
    padding: 5px;
}

.noColor {
    color: inherit !important;
}

.chatColoredHidden {
    display: none;
}

.messageNick {
    word-break: break-all;
    cursor: pointer;
}

.messageNick,
.messageText,
.chatColored {
    display: inline;
    word-break: break-word;
}

.messageText {
    font-weight: normal;
}

#modMenu{
    margin: 0;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    right: 0;

    transition: right ease-in-out .2s;
}

#modMenu>div{
    position: relative;
}

#modMenu .body{
    position: absolute;
    left: 30px;

    margin: 0;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;

    background-color: #333;
}

#modMenu .title{
    width: 30px;

    background-color: #333;
    display: flex;
    height: 4rem;

    border-radius: 5px 0 0 5px;

    cursor: pointer;
}

#modMenu .title div{
    transform: rotate(-90deg);
    align-self: center;
}