* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body,
html {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    touch-action: none;
}

body {
    border: none;
    user-select: none;
    background: gray;
}

#ui {
    user-select: none;

    color: white;

    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.bubble {
    padding: 5px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
}

#online {
    display: flex;

    position: absolute;

    left: 5px;
    top: 5px;

    z-index: 2;
}

#coords {
    position: absolute;

    right: 5px;
    top: 5px;

    z-index: 2;
}

#settings,
#info {
    display: none;
}

#board,
#fx {
    image-rendering: pixelated;

    position: absolute;

    z-index: 1;
}

#fx {
    pointer-events: none;
}

#palette {
    width: 100%;
    bottom: 0;

    padding-top: 7px;
    padding-bottom: 7px;

    position: absolute;

    text-align: center;

    z-index: 2;
}

.paletteColor {
    width: 30px;
    height: 30px;

    margin-left: 5px;
    margin-right: 5px;

    border: 2px solid black;
    border-radius: 5px;

    display: inline-block;
}

.paletteColor.dark {
    border-color: white;
}

.paletteColor.light {
    border-color: black;
}

#tools {
    position: absolute;
    top: 40px;
    left: 5px;

    z-index: 2;
}

.toolContainer {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    padding: 3px;
    background-color: white;
    border-radius: 5px;

    image-rendering: pixelated;
}

.toolContainer.selected {
    box-shadow: 0 0 3px 0 black inset;
}

#temPos,
a,
a:visited,
.window {
    color: var(--light-text);
}

#topMenu {
    width: 100vw;
    left: 0;
    background-color: #404040;
    z-index: 3;
    position: absolute;
}

#topMenu,
#chat {
    transition: all .3s cubic-bezier(1, -.45, .99, .75);
}

.content{
    width: 100%;
    display: flex;
    position: relative;
}

/*
    Костыль
*/
.content:nth-child(1), .content:nth-child(2){
    border-right: 3px solid #4C4C4C;
}

/*
    Костыль, resizer должен быть гибким классом
*/
#resizer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3px;
    cursor: row-resize;
    user-select: none;
}

.columnContent{
    height: 123px;
    overflow-y: auto;
}