* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;

    background-color: gray;
}

#ui {
    user-select: none;

    color: white;

    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.bubble {
    padding: 5px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
}

#online{
    display: flex;
    
    position: absolute;

    left: 5px;
    top: 5px;

    z-index: 2;
}

#coords {
    position: absolute;

    right: 5px;
    top: 5px;

    z-index: 2;
}

#settings, #info {
    display: none;
}

#board {
    image-rendering: pixelated;

    position: absolute;

    z-index: 1;
}

#palette {
    width: 100%;
    bottom: 0;

    padding-top: 7px;
    padding-bottom: 7px;

    position: absolute;

    text-align: center;

    z-index: 2;
}

.paletteColor {
    width: 30px;
    height: 30px;

    margin-left: 5px;
    margin-right: 5px;

    border: 2px solid black;
    border-radius: 5px;

    display: inline-block;
}